{% extends 'base.html' %}

{% block content %}
<form method="post">
  {% csrf_token %}
<div class="mb-3">
  <label  class="form-label">Weight(kg)</label>
  <input type="number" class="form-control" name="wt" value="{{wt}}" >
</div>
  <div class="mb-3">
  <label  class="form-label">Height(cm)</label>
  <input type="number" class="form-control" name="ht" value="{{ht}}" >
</div>
<div class="mt-5">
         <input type="submit" class="btn btn-light" value="BMI">
    </div>
    </form>
{% if result %}
    <h4>bmi is :{{result}}</h4>
    {% endif %}

{% endblock %}